# personal folder
.vscode/
log/

# cache
__pycache__/
*.pyc
**/__pycache__/

# pip install test
/build/
/PiscesORM.egg-info/
/dist/

# vsc config
/.vscode/

# not a bot data
update.bat
translation_report.txt
test.db
git_note.txt
test.py